<div class="container mt-5">
  <div class="info bg-info">
    <i [ngClass]="[categoria.icono, 'text-info']"></i>
    <div class="title">
      <span [ngClass]="[categoria.color]">Add expense to</span>
      <h5 [ngClass]="[categoria.color]">{{categoria.nombre}}</h5>
    </div>
  </div>
  <div class="text-center">
    <div class="screen">
      <span *ngIf="numero_anterior !==''"> {{moneda}} {{numero_anterior}}</span>
      <span *ngIf="operando !== ''"> {{operando}}</span>
      <span *ngIf="numero_actual !== ''"> {{moneda}} {{numero_actual}}</span>
    </div>
    <div class="calculator">
      <div class="g1">
        <button type="button" class="btn" (click)="operador('÷')"> ÷ </button>
        <button type="button" class="btn" (click)="operador('×')"> × </button>
        <button type="button" class="btn" (click)="operador('–')"> – </button>
        <button type="button" class="btn" (click)="operador('+')"> + </button>
      </div>
      <div class="g2">
        <button type="button" class="btn" (click)="numero('1')"> 1 </button>
        <button type="button" class="btn" (click)="numero('4')"> 4 </button>
        <button type="button" class="btn" (click)="numero('7')"> 7 </button>
        <button type="button" class="btn" (click)="operacion('calendar')"><i class="fa fa-calendar-day"></i></button>
      </div>
      <div class="g3">
        <button type="button" class="btn" (click)="numero('2')"> 2 </button>
        <button type="button" class="btn" (click)="numero('5')"> 5 </button>
        <button type="button" class="btn" (click)="numero('8')"> 8 </button>
        <button type="button" class="btn" (click)="numero('0')"> 0 </button>
      </div>
      <div class="g4">
        <button type="button" class="btn" (click)="numero('3')"> 3 </button>
        <button type="button" class="btn" (click)="numero('6')"> 6 </button>
        <button type="button" class="btn" (click)="numero('9')"> 9 </button>
        <button type="button" class="btn" (click)="operacion('punto')"> . </button>
      </div>
      <div class="g5">
        <button type="button" class="btn" (click)="operacion('delete')"><i class="fa fa-delete-left"></i></button>
        <button type="button" class="btn" (click)="operacion('clear')">C</button>
        <button type="button" class="btn btn-info text-white" (click)="operacion('check')">
          <i [ngClass]="icono_resultado"></i>
        </button>
      </div>
    </div>
    <div class="date">{{fecha}} <input type="date" class="form-control" *ngIf="fecha_status" [(ngModel)]="fecha_input" (change)="actualizar_fecha()"></div>
  </div>
</div>
